<%- include('includes/head.ejs') %>

<h1 class="title">LOST FOUNDS</h1>

<a href="/lost_founds/nuevo" class="button is-link is-rounded">AGREGAR</a>

<br><br>

<% if (lost_founds.length > 0) { %>
    <div class="columns is-multiline">
        <% for (let lost_found of lost_founds) { %>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="<%= lost_found.imagen %>" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="<%= lost_found.imagen %>" alt="Placeholder image">
                            </figure>
                            </div>
                            <div class="media-content">
                            <p class="title is-4"><%= lost_found.descripcion %></p>
                            <p class="subtitle is-6"><%= lost_found.nombre %> $<%= lost_founds.matricula %> </p>
                            </div>
                        </div>
                    
                        <div class="content">
                            <%= lost_found.lugar %> 
                            <br>
                            Fecha:
                            <br>
                            <%= lost_found.fecha %> 
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h1>NO HAN PERDIDO NADA SOLO TÚ</h1>
<% } %>   

<br><br>

<%
if (ultimo_lostfound != ''){ %>
    <div class = "notification is-link is-light">
        El ultimo objeto perdido fue: <%= ultimo_lostfound %>
    </div>


<%}%>
<a href="/lost_founds/nuevo" class="button is-link is-rounded">Registrar</a>

<%- include('includes/foot.ejs') %>
